h4 {
  margin: 0;
  padding: 0;
}

.cart-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  right: 0px;
  top: 143px;
  background: white;
  border: 1px solid #ddd;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px;
  width: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  gap: 20px;
}

.cart-dropdown h3 {
  margin-left: 30px;
}

.cart-dropdown ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 90%;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 0px 10px 0px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.cart-summary {
  margin-top: 10px;
  font-weight: bold;
}

.buy-now-button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.remove-item-button {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 14px;
}

.remove-item-button:hover {
  background-color: #ff7875;
}

.close-button {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #333333;
  text-align: center;
}

.close-button button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cart-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    right: 0px;
    top: 120px;
    background: white;
    border: 1px solid #ddd;
    width: 89%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    gap: 10px;
  }
}

.paiment-label {
  margin-bottom: 15px;
  font-size: 1rem;
  color: #555555;
}

.paiment-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.paiment-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Flex container for the images */
.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

/* Style for the images */
.imageP {
  width: auto;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Add a hover effect on the images */
.imageP:hover {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #6200ff;
  box-shadow: 1px 1px 5px rgb(0, 123, 255, 0.5);
  transform: scale(1.1);
}

.imageP:focus {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #007bff;
  box-shadow: 1px 1px 5px rgb(0, 123, 255, 0.5);
}

/* Style for the details section */
.details {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.details h3 {
  margin-top: 0;
}

.details p {
  font-size: 16px;
  color: #555;
}